* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bebas Neue", cursive;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  max-height: 10vh;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile > img {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(245, 244, 244);
  border-radius: 100%;
  margin-top: 20px;
}

.profile > p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ff0000;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.link > a {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  text-align: center;
  border: 3px solid #000000;
  background-color: #eaeaea;
  border-radius: 7px;
  margin: 20px 20px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.link > a:hover {
  background-color: rgb(255, 2, 2);
  color: #eaeaea;
}

.footer {
  text-align: center;
  padding-top: 50px;
}

.footer > i {
  color: rgb(12, 12, 12);
  font-size: 20px;
}
